// Closing Guarantee
#mortgage-broker-utah-closing-guarantee-Container-1{
    height: 400px;
    justify-content: center;
    align-items: center;
}
#mortgage-broker-utah-closing-guarantee-Container-banner-title{
    position: inherit;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px !important;
    color: #ED8B00;
    text-shadow: rgb(0, 0, 0) 0px 0px 15px;
}
#mortgage-broker-utah-closing-guarantee-Container-h1{
    justify-content: center;
    align-items: center;
    text-align: center;
}
#mortgage-broker-utah-closing-guarantee-Container-h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #4F758B;
    font-family: 'Rock Salt', cursive !important;
    font-size: 30px;
}
#mortgage-broker-utah-closing-guarantee-stack-img-kenny{
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-position: center;
    background-position: center;
    width: 75rem;
}
#mortgage-broker-utah-closing-guarantee-stack-p{
font-size: large;
}
#mortgage-broker-utah-closing-guarantee-stack-li{
    color: black !important;
    padding: 7px;
    margin-left: 20px;
    font-size: large;
}
#mortgage-broker-utah-closing-guarantee-stack-li:hover{
    background-color: none !important;
}
#reverse-mortgage-florida-aboutus-closingGuarantee-h2{
font-size: 30px;
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
}
#reverse-mortgage-florida-aboutus-closingGuarantee-h3{
    font-size: 22px;
}
#reverse-mortgage-florida-aboutus-closingGuarantee-eligibility{
    padding-top: 30px;
}
#reverse-mortgage-florida-aboutus-closingGuarantee-ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
}
#reverse-mortgage-florida-aboutus-closingGuarantee-li{
    padding: 10px;
    color: black !important;
}
#H1-home{
    color: white;
}
#reverse-mortgage-texas-home-Container-Contactform{
    padding: 0 !important;
    margin: 0 !important;
    background-color: #d3d3d3 !important;
    display: flex;
    justify-content: center;
}
#reverse-mortgage-utah-home-button-1{
    background-color: #ED8B00;
    color: black;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
}
#reverse-mortgage-utah-home-button-1:hover{
    transform: scale(1.1); 
}