#contact-title{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 2px;
}
.contact-form{
    width: 400vp;
    margin-top: 20px;

    ul {
        padding: 0;
        margin: 0;
        width: 350px;
        justify-content: center;
        align-items: center;
    
        li {
          padding: 0;
          margin: 0;
          list-style: none;
          margin-bottom: 10px;
          overflow: hidden;
          display: block;
          clear: both;
          position: relative;
        }

        li.half{
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child{
                margin-left: 0;
            }
        }
    }

    input[type='text'],
    input[type='email']{
        width: 100%;
        border: 0;
        border: 1px solid #E0E0E2;
        height: 50px;
        font-size: 15px;
        color: black;
        padding: 0 20px;
        box-sizing: border-box;
        border-radius: 8px;
    }

    textarea{
        width: 100%;
        border: 0;
        border: 1px solid #E0E0E2;
        height: 50px;
        font-size: 15px;
        color: black;
        padding: 20px;
        min-height: 150px;
        box-sizing: border-box;
        border-radius: 8px;
    }

    .flat-button{
        color: black;
        background-color: #ED8B00 !important;
        background: 0 0;
        font: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px  solid black;
        float: right;
        border-radius: 4px;
        margin-bottom: 10px;
        
    }
    .flat-button:hover{
        scale: 1.1;
    }

}
