#H1-home{
    color: white;
}
#reverse-mortgage-utah-home-button-1{
    background-color: #ED8B00;
    color: black;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
}
#reverse-mortgage-utah-home-button-1:hover{
    transform: scale(1.1); 
}
// Blog
#reverse-mortgage-utah-blog{
    height: 700px;
    justify-content: center;
    align-items: center;
}
#reverse-mortgage-utah-blog-title{
    position: inherit;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px !important;
    color: #ED8B00;
    text-shadow: rgb(0, 0, 0) 0px 0px 15px;
}
#reverse-mortgage-utah-blog-h1{
    justify-content: center;
    align-items: center;
    text-align: center;
}
#reverse-mortgage-utah-blog-p{
    padding: 10px;
    color: black;
    font-size: 20px;
}
#reverse-mortgage-utah-blog-ul{
    padding: 10px;
    margin: 20px;
    list-style-type: decimal;
    font-size: 20px;
}
#reverse-mortgage-utah-blog-li{
    color: black !important;
    padding: 10px;
}
#pageLinksOnPage{
padding: 0;
color: #ED8B00;
margin: 0;
}
#pageLinksOnPage:hover{
    padding: 0;
    color: white;
    }
#modal-button{
    display:inline-block !important;
    position: relative;
    padding-left: 10px;
    background-color: #ED8B00;
}
#modal-button:hover{
    
}
#thumb{
position:inherit;
top: 5px;
}