#reverse-mortgage-utah-home-Container-h2{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    padding-top: 15px;
    color: black;
}
#H1-home{
    color: white;
}
#reverse-mortgage-utah-home-Container-h3{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
    color: black;
}
#reverse-mortgage-utah-home-button-1{
    background-color: #00A3E0;
    color: White;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
}
#reverse-mortgage-utah-home-button-1:hover{
    transform: scale(1.1); 
}
#reverse-mortgage-utah-home-Container-stack{
    padding: 0 !important;
    margin: 0 !important;
    color: #4F758B !important;
    background-color: #C7C9C7;
}
#reverse-mortgage-utah-home-Container-Contactform{
    padding: 0 !important;
    margin: 0 !important;
    // color: #4F758B !important;
}

#pageLinksOnPage{
    color: #00A3E0 !important;
}
.reverse-mortgage-utah-home-Container-stack-img1 {
    display: flex;
    margin: 0;
  }
  
  .image-container {
    flex: 1;
    max-width: 50%;
    // padding: 1rem;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  .text-container {
    flex: 1;
    max-width: 50%;
    padding: 1rem;
  }
 #reverse-mortgage-utah-home-text-1{
background-color: white;
display:flex;
flex-direction:column;
justify-content:space-between;
justify-content: center;
align-items: center;
 } 
 #reverse-mortgage-utah-home-text-2{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    justify-content: center;
    align-items: center; 
    color: black;
    font-size: 15px !important;
 }
 #reverse-mortgage-utah-home-text-h2-1{
    padding: 10px;
    color: black;
    font-size: 20px;
 }
#reverse-mortgage-utah-home-parallax-mid{
    height: 700px;

}
  #reverse-mortgage-utah-home-parallax-title{
    position: inherit;
    font-size: 12px !important;
    color: white;
    text-shadow: rgb(0, 0, 0) 0px 0px 15px;
    background-color: black !important;
    width: 100%;
    height: 100%;
    opacity: .8;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    justify-content: center;
    align-items: center;
}
#reverse-mortgage-utah-home-parallax-h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 15px;
}
#reverse-mortgage-utah-home-parallax-p{
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size: 15px !important;
}
// image 2 split 
.reverse-mortgage-utah-home-Container-stack-img2 {
    display: flex;
    margin: 0;
  }
  .text-container {
    flex: 1;
    max-width: 50%;
    padding: 1rem;
    margin: 0;
    background-color: white;
  }
  .image-container {
    flex: 1;
    max-width: 50%;
    height: 631px;
    // padding: 1rem;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  #reverse-mortgage-florida-home-map-container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    padding: 15px;
}
  
#reverse-mortgage-florida-home-map{
    max-width: 90%;
    text-align: center;
    justify-content: center !important;
    align-items: center !important;
}

#reverse-mortgage-texas-home-h2{
    text-align: center;
    margin: 20px;
    font-size: 25px;
    color: black;
}
#reverse-mortgage-texas-home-p{
    text-align: left;
    margin: 10px;
}
#reverse-mortgage-texas-home-stack-img{
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-position: center;
    background-position: center;
    width: 200rem;
}
#reverse-mortgage-texas-home-button-container{
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
}
#reverse-mortgage-texas-home-button{
    background-color: #00A3E0;
    margin: 15px;
    border: 1px solid black;
    color: black;
    font-weight:bold;
    padding-left: 25px;
    padding-right: 25px;
}
#reverse-mortgage-texas-home-button:hover{
    transform: scale(1.1); 
}
#reverse-mortgage-texas-home-h2-accordion{
    text-align: center;
    margin: 20px;
    font-size: 25px;
    color: black;
}
#reverse-mortgage-texas-home-Container-Contactform{
    text-align: center;
    display: flex;
    background-color: #d3d3d3;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
}
#panel1a-header{
    background-color: #C7C9C7;
    color: black;
}
#panel2a-header{
    background-color: #C7C9C7;
    color: black;
}
#panel3a-header{
    background-color: #C7C9C7;
    color: black;
}
#ss-custom-reviews-widget-root{
   margin: 10px;
   padding: 10px;
}
.experience-badge{
  margin: 15px;
}
#local-lender-utah-button{
  background-color: #00A3E0;
  color: White;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
#UtahLocalLenderP{
  padding-top: 20px;
}
// cards
#cardImage{
  height: 225px;
  width: 345px;
  overflow: hidden;
}
.card {
  width: 345px;
  height: 425px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-header {
  color: #fff;
  text-align: center;
}

.card-body {
  padding: 5px;
}
@media (max-width: 1449px) {

  #mobileHeaderImage{
      display: none;
  }
}
@media (max-width: 899px) {
  #mobileHeaderImage{
      display: block;
  }
}
@media (max-width: 768px) {
    .reverse-mortgage-utah-home-Container-stack-img1  {
      flex-direction: column;
    }
  
    .image-container,
    .text-container {
      max-width: 100%;
    }
  }
  @media (max-width: 768px) {
    .reverse-mortgage-utah-home-Container-stack-img2{
      flex-direction: column;
    }
  
    .image-container,
    .text-container {
      max-width: 100%;
    }
  }
  @media (max-width: 410px) {
    
  #reverse-mortgage-utah-home-parallax-mid{
    height: 720px;

}
  }