*{
    font-family: 'Lato', sans-serif !important;
    font-size: '12px' !important;
}
#footer{
    background-color: #C7C9C7;
    padding-top: 1px;
    width:100%;
}
#link:hover{
    cursor: pointer;
}
#smallLogo{
    height: 100px;
}
#prmiLogo{
    height: 200px;
    margin: 0;
}
#equalLogo{
    height: 100px;
}
#prmi-eoh{
    margin: 0;
}
.leaflet-container {
    margin-right: 0 !important;
  }
  #mapDiv{
    position: flex !important;
    width: 207px;
    height: 260px;
    margin-right: 0 !important;
    // z-index: 0 !important;
 }
 #reverse-mortgage-florida-footer{
    padding-top: 0;
    padding-bottom: 0;
 }
 #reverse-mortgage-florida-privacy-policy{
    color: black !important;
 }
 #stateName{
    background-color: #ED8B00;
    color: black;
    border-radius: 4px;
    border: 1px solid black;
    letter-spacing: .05cm;
    margin-right: 25px;
 }
 .stateNameTexas{
    margin-right: 42px !important;
 }
 .stateNameUtah{
    margin-right: 83px !important;
 }
 #stackLinksUtah{
    margin-top: 0;
 }
 #reverse-mortgage-florida-footer{
    display: block !important;
 }
 