// #mobileNavBar{
//     width: 100%;
//     height: 100vh;
    
// }
// #logoNav{
//     margin: -10px;
// }

* {
    margin: 0;
    box-sizing: border-box;
}
#logoNav{
    margin-top: -14px;
    z-index: 3;
}
/* ---------------- Navbar and burger menu ------------------ */
nav {
    width: 100%;
    height: 7em;
    background-color: #4F758B;
    display: flex;
    justify-content: flex-start;
    padding: 1em;
}

.burger-menu {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.burger-bar {
    width: 4em;
    height: 0.5em;
    background-color: #ED8B00;
    border-radius: 0.5em;
    z-index: 3;
}

.menu {
    width: 50%;
    height: 100vh;
    background-color: #4F758B;
    position: absolute;
    top: 0;
    z-index: 2;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(1.25em, 1.55em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-1.5em, 2em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

#links{
    display: flex;
    flex-direction: row;
    font-size:x-large;
    padding: 5px;
    color: #ED8B00;
    text-shadow: rgb(0, 0, 0) 0px 0px 15px;
}