#navbar{
    background-color: black;
}
#pageLink{
    padding: 4px 8px 8px 8px;
    border-radius: 10px;
}
#pageLink:hover{
    border: 1px solid white;
    padding: 2px 8px 2px 8px;
    color: black;
    background-color: white;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  /* Styles for the dropdown */
  .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color:black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Style for the dropdown options */
  .dropdown-content li {
    display: block;
  }
  
  .dropdown-content li a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
  }
  
  .dropdown-content li a:hover {
    background-color: #00A3E0;
    border-radius: 3px;
    color: White;
  }
  .mortgage-company-utah-apply-today,
  .mortgage-company-utah-team-number{
    // background-color: #003594;
    color: black;
    border-radius: 5px;
    // padding-left: 5px;
    // padding-right: 5px;
  }
  .mortgage-company-utah-apply-today:hover{
    background-color: #00A3E0;
    color: White;
  }
  .mortgage-company-utah-team-number:hover{
    background-color: #00A3E0;
    color: White;
  }
  .home:hover{
    background-color: #00A3E0;
    color: White;
    border-radius: 5px;
  }
  #logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 1357px) {
    #prmiBlackLogo{
      display: none;
    }
}
  @media screen and (max-width: 1125px) {
    .mortgage-company-utah-apply-today,
    .mortgage-company-utah-team-number{
      display: none;
    }
}
@media screen and (max-width: 1077px) {
    // .logo-container,
    #MainNav{
        display: none;
    }
}