#navbar{
    background-color: #4F758B !important;
    padding-top: 5px;
    padding-bottom: 5px;
}
a{
    color: white;
}
#main-link:hover{
    background-color: #ED8B00; 
    color: black;
    border: 1px solid black;
    padding: 3px;
    border-radius: 4px;
}
.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0.5rem 0.5rem 0;
    opacity: 1 !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    border-radius: 4px;
}
.mortgage-company-utah-apply-today{
    background-color: #ED8B00; 
    color: black;
    border: 1px solid black;
    padding: 3px;
    border-radius: 4px;
}
.mortgage-company-utah-team-number{
    background-color: #ED8B00; 
    color: black;
    border: 1px solid black;
    padding: 3px;
    border-radius: 4px;
}
.mortgage-company-utah-team-number:hover{
    transform: scale(1.1); 
}
.mortgage-company-utah-apply-today:hover{
    transform: scale(1.1); 
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  /* Styles for the dropdown */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#4F758B;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Style for the dropdown options */
  .dropdown-content li {
    display: block;
  }
  
  .dropdown-content li a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
  }
  
  .dropdown-content li a:hover {
    background-color: #ED8B00;
  }
// mobile
#mobileNavBar{
    display: none;
}


@media screen and (max-width: 1506px) {

    #Utah-Mortgage-PRMI-LOGO{
        display: none;
    }
.mortgage-company-utah-apply-today{
    display: none;
}
.mortgage-company-utah-team-number{
    display: none;
}
}
@media screen and (max-width: 942px) {
    // .logo-container,
    a{
        display: none;
    }
    .logo-container{
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 0 0 0rem;
    }
    .navbar{
        display: grid;
        grid-template-columns: 50px auto 50px;
    }
    #Utah-Mortgage-PRMI-LOGO{
        display: none;
    }
    #Utah-Mortgage-KENNY-LOGO{
        height: 5rem !important;
    }
    #navbar{
        display: none;
    }
    #mobileNavBar{
        display:flex;
        // position: relative;
        // background-color: #4F758B;
        // height: 120px;
        // width: 100%;
    }
    #logoNav{
        padding-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #mobileHamburger{
        position: absolute;
        right: 10px;
        top: 50px;
    }
}