// Salt Lake City
#salt-lake-city-p{
    padding-bottom: 20px !important;
    margin: 0 !important;
}
#salt-lake-city-fourth-section{
    background-color: lightgray;
    width: 100%;
    padding: 15px;
    margin: 0;
}
#reverse-mortgage-texas-salt-lake-city-h2{
    font-size: 30px !important;
    text-align: center;
    color: black;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
// disclosure and info 
#disclosure-Container-1{
    height: 400px;
    justify-content: center;
    align-items: center;
}
#disclosure-banner-title{
    position: inherit;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px !important;
    color: white;
    text-shadow: rgb(0, 0, 0) 0px 0px 15px;
}
#disclosure-Container-h1{
    justify-content: center;
    align-items: center;
    text-align: center;
}
#disclosure-p{
    padding-bottom: 25px;
}
#reverse-mortgage-texas-home-Container-Contactform{
    padding: 0 !important;
    margin: 0 !important;
    background-color: #4F758B !important;
    display: flex;
    justify-content: center;
}
#pageLinksOnPage{
    color: #ED8B00;
}
#H1-home{
    color: white;
}
#reverse-mortgage-texas-contact-us-Container-p{
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #4F758B;
    margin: 25px;

}
#reverse-mortgage-texas-contact-us-contact-section{
    color: #4F758B;
    font-size: 20px;
}
#reverse-mortgage-utah-home-parallax-h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}
#reverse-mortgage-texas-home-h2{
    text-align: center;
    margin: 20px;
    font-size: 25px;
    color: #4F758B;
}