// disclosure and info 
#disclosure-Container-1{
    height: 400px;
    justify-content: center;
    align-items: center;
}
#disclosure-banner-title{
    position: inherit;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px !important;
    color: white;
    text-shadow: rgb(0, 0, 0) 0px 0px 15px;
}
#disclosure-Container-h1{
    justify-content: center;
    align-items: center;
    text-align: center;
}
#disclosure-p{
    padding-bottom: 25px;
}
#H1-home{
    color: white;
}
#reverse-mortgage-texas-home-Container-Contactform{
    padding: 0 !important;
    margin: 0 !important;
    background-color: #d3d3d3 !important;
    display: flex;
    justify-content: center;
}
#H2-dis{
    font-weight: bolder;
    font-size: 20px;
}