.leaflet-container {
    position: relative;
      width: 500px;
      height: 500px; 
      z-index: 0;
    }

    @media (max-width: 600px) {
      .leaflet-container{
        width: 241px;
        height: 282px; 
        z-index: 0;
      }
      }
    