.leaflet-container {
    position: relative;
      width: 241px;
      height: 282px; 
      z-index: 0;
    }

    // @media (max-width: 700px) {
    //   .leaflet-container{
    //       display: none;
    //   }
    // }