// contact us page
#reverse-mortgage-texas-contact-us-Container-1{
    height: 400px;
    justify-content: center;
    align-items: center;
}
#reverse-mortgage-texas-contact-us-Container-h1{
    justify-content: center;
    align-items: center;
}
#reverse-mortgage-texas-contact-us-Container-p{
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    margin: 25px;

}
#reverse-mortgage-texas-contact-us-Container-p-info{
    font-size: 20px;
    justify-content: center;
    align-items: center;
    // text-align: center;
    color: black;
    margin: 25px;
}
#reverse-mortgage-texas-contact-us-Container-a{
    color: #00A3E0 !important;
    padding: 0;
    margin: 0;
}
#reverse-mortgage-texas-contact-us-Container-a:hover{
    color: white !important;
    padding: 0;
    margin: 0;
}
#reverse-mortgage-texas-contact-us-stack{
    margin-top: 0;
}
#reverse-mortgage-texas-contact-us-contact-section{
    color: #00A3E0;
    font-size: 25px;
}
#reverse-mortgage-texas-contact-us-Container-banner-title{
    position: inherit;
    top: 43%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px !important;
    color: #ED8B00;
    text-shadow: rgb(0, 0, 0) 0px 0px 15px;
}
#reverse-mortgage-texas-contact-us-Container-h2{
    position: inherit;
    margin: 15px;
    font-size: 50px !important;
    color: #4F758B;
}
#reverse-mortgage-texas-contact-us-Container-h3{
    position: inherit;
    margin: 15px;
    color: #4F758B;
}
#reverse-mortgage-texas-contact-us-Container-h4{
    position: inherit;
    color: #4F758B;
}
#reverse-mortgage-texas-contact-us-Container-button{
    background-color: #ED8B00;
    margin: 15px;
    border: 1px solid black;
    color: black;
}
#reverse-mortgage-texas-contact-us-Container-button:hover{
    transform: scale(1.1); 
}
#reverse-mortgage-texas-contact-us-Container-contact{
    width: 100%;
    display: flex;
    position: relative;
    background-color: #4F758B;
    justify-content: center;
    align-items: center;
}
#reverse-mortgage-texas-contact-us-Container-contact-2{
    width: 250vp !important;
}
#H1-home{
    color: white;
}
#hours{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#hoursTitle{
    font-size: 35px;
    font-weight: bold;
    color: #00A3E0;
}
#hoursDay{
    font-size: 20px;
}
#map-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#blogTitle{
    font-size: 25px;
    padding-top: 25px;
    font-weight: 600;
}
#reverse-mortgage-utah-blog-p{
    padding: 10px;
    color: black;
    font-size: 20px;
}
#listItem{
    padding: 10px;
}
#boldTitle{
    font-weight: 600;
}
#disclaimerNote{
    font-size: 12px;
    font-style: italic;
    opacity: .8;
    text-align: left;
}