#H1-home{
    color: white;
}
#reverse-mortgage-utah-home-button-1{
    background-color: #00A3E0;
    color: black;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
}
#reverse-mortgage-utah-home-button-1:hover{
    transform: scale(1.1); 
}
// Blog
#blogTitle{
    font-size: 25px;
    padding-top: 25px;
}
#reverse-mortgage-utah-blog-p{
    padding: 10px;
    color: black;
    font-size: 20px;
}
#reverse-mortgage-utah-blog-ul{
    padding: 10px;
    margin: 20px;
    list-style-type: decimal;
    font-size: 20px;
}
#reverse-mortgage-utah-blog-li{
    color: black !important;
    padding: 10px;
}
#thumb{
position:inherit;
top: 5px;
}
#reverse-mortgage-texas-home-Container-Contactform{
    padding: 0 !important;
    margin: 0 !important;
    background-color: #d3d3d3 !important;
    display: flex;
    justify-content: center;
}
#utahMortgageNearMe{
    margin-left: auto;
  margin-right: auto;
  display: block;
}